.venv
Clened_Dataset.csv
Ml_Ready_Dataset.csv
US_Accidents.csv
Inspection.ipunb
accidents.parquet
Cheating.txt
Q and A.ipynb
Raw Data Cleaning.ipynb
Raw EDA.ipynb
app2.py
app4.py
cab.py
.env
what i don't have.txt
ML Model.ipynb
Learnings.txt